<form
  [formGroup]="questionnaireFormService.questionnaireForm"
  class="flex flex-col"
>
  <section class="flex flex-col">
    @for(section of questionnaireFormService.sectionsControls; track $index){
    <app-questionnaire-section
      [index]="$index"
      [section]="section"
      [editable]="true"
    />}
    <div>
      <p-button
        label="ajouter une section"
        (onClick)="questionnaireFormService.addSection()"
        text="true"
        class="w-full"
      />
    </div>
  </section>

  <div class="flex flex-row">
    <p-button
      (onClick)="submit()"
      label="submit"
      class="font-mono uppercase justify-end"
    />
  </div>
</form>
