<form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="w-96">
  <div class="flex flex-col justify-between py-2">
    <label class="font-mono text-xs uppercase" for="name">Nom</label>
    <input id="name" type="text" pInputText formControlName="name" />
  </div>

  <div class="flex flex-col justify-between py-2">
    <label class="font-mono text-xs uppercase" for="description"
      >Description</label
    >
    <input
      id="description"
      type="text"
      pInputText
      formControlName="description"
    />
  </div>

  <div class="flex flex-col justify-between py-2">
    <label class="font-mono text-xs uppercase" for="logo">Logo</label>
    <input id="logo" type="text" pInputText formControlName="logo" />
  </div>

  <div class="flex flex-col justify-between py-2">
    <label class="font-mono text-xs uppercase" for="address">Adresse</label>
    <input id="address" type="text" pInputText formControlName="address" />
  </div>

  <div class="flex flex-row items-center gap-2 py-2">
    <p-checkbox id="TVA" formControlName="TVA" binary="true"></p-checkbox>
    <label class="font-mono text-xs uppercase" for="TVA">TVA</label>
  </div>
  @if(clientForm.get('TVA')?.value || client?.TVA){
  <div class="flex flex-col justify-between py-2">
    <label class="font-mono text-xs uppercase" for="TVANumber">
      Numéro TVA</label
    >
    <input id="TVANumber" type="text" pInputText formControlName="TVANumber" />
  </div>
  }

  <div class="flex flex-col justify-between py-2">
    <label class="font-mono text-xs uppercase" for="email">Email</label>
    <input id="email" type="email" pInputText formControlName="email" />
  </div>

  <div class="flex flex-col justify-between py-2">
    <label class="font-mono text-xs uppercase" for="phone">Téléphone</label>
    <input id="phone" type="text" pInputText formControlName="phone" />
  </div>

  <div class="mt-4 p-field p-col-12">
    <p-button
      class="font-mono uppercase"
      type="submit"
      [disabled]="clientForm.invalid"
      [fluid]="true"
    >
      {{ "valider" }} @if (loading) {
      <i class="pi pi-spin pi-spinner"></i>
      }</p-button
    >
  </div>
</form>
